.chatwindow{
     background-color: #212121;
     height: 100vh;
     width: 100%;
     margin-left: 180px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items:center;
     text-align:center;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

 .navbar span{
      margin: 1rem 2rem;
 }
.usericon{
    margin: 1rem 1rem;
}

.userIcon{
    background-color: #339cff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.chatinput{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputbox{
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}
input{
    width: 100%;
    border: none;
    background-color:  rgba(180, 180, 180, 0.09);
    padding: 20px;
    font-size: 1rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;


}

#submit{
    cursor: pointer;
    height: 35px;
    width: 35px;
    font-size: 20px;
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input:focus{
    outline: none;
}

.info{
    font-size: 0.8rem;
    padding: 0.5rem;
    color: #b4b4b4;
   margin-left: 40px;

}

.dropDown{
    position:absolute;
    top: 3rem;
    right:3.9rem ;
    width: 115px;
    background-color: #323232;
    padding: 0.3rem 0.5rem;
    border-radius: 6px;
    text-align: left;
    z-index: 1000;
    box-shadow: 0px 2px 8px rgba(0, 0,0, 0.1);
    
}

.dropdownItems{
    font-size: 0.9rem;
    margin: 0.3rem 0rem;
    padding: 0.5rem 0.2rem;
    cursor: pointer;

}

.dropdownItems:hover{
    background-color: rgba(180,180, 180, 0.1);
    border-radius: 7px;
    
}